/*reset*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  display: grid;
  grid-template-columns: 1fr ;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(207, 88, 88, 1) 0%,
    rgba(186, 16, 16, 1) 45%
  );
  width: 100%;
  height: 160px;  

}

.header__logo {
  display: grid;
  justify-items: center; 
  align-items: center;
}

.header__logo--img {
  width: 200px;    
}

.header__navBar{
  display: grid;
}

.header__navBar ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  list-style: none;
}

.header__navBar ul li a{
  padding: 07px;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff; 
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.header__iRedes {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  display: flex;
  justify-content: center;
 
}
.header__iRedes img {
  width: 20px;
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  margin: 10px;
  padding: 10px;
}

.seccion__banner img {
  width: 100%;
  height: 100%;
}

.seccion__slogan{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-color: #ba1010;
}
.seccion__slogan h1{
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.seccion__slogan p{
  font-size: 1rem;
  color: #ba1010;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius:5px; 
}

.seccion_btn{
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
.seccion__btn:hover{
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}

.contenido{
  display: grid;
  grid-template-columns: 1fr;
}

.contenido__etiquetas1{
  background-color: #797575
  
}

.contenido__etiquetas--titulo{
  color: #ba1010;
  text-align: center;
  padding: 10px;
}

.contenido__etiquetas1 p{
  color: #fff;
  text-align: center; 
  padding: 10px;
}

/* PAGE SERVICE*/

.productos{
  display: grid;
  grid-template-columns:1fr;
  justify-items: center;
  background-color: #797575;
}

.productos__titulo{
  padding: 10px;
}

.box{
  display: grid;
  grid-template-columns:1fr;
  justify-items: center;
  padding: 15px;
}
.productos__box{
  display: grid;
  grid-template-columns:1fr;
  justify-items: center;
  background-color:#9C9494;
  padding: 10px;
  width: 250px;
  margin: 10px;
}

.productos__titulo{
  color:#ba1010;
 
}
.productos__box--pro h2{
  color:#ba1010;
  text-align: center;
  padding: 5px;
}

.productos__box--pro p{
  color:#fff;
  text-align: center;
  padding: 5px;
}

/* PAGE ABOUT*/

.nosotros{
  display: grid;
  grid-template-columns:1fr;
  justify-items: center;
  background-color: #9C9494;
}

.nosotros__contenido{
  display: grid;
  grid-template-columns: 1fr;
}
.nosotros h1{
  color: #ba1010;
  padding: 10px;
}
.nosotros__contenido--img{
  display: grid;
  justify-items: center;
  padding: 10px;
}

.nosotros__contenido--texto{
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ba1010;
  padding: 10px;
  margin: 10px;
}
.nosotros__contenido--texto p{
  color: #fff;
  text-align: center;
}


/* FOOTER */
.footer{
  display:grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #ba1010;
}

.footer__consultas{
  padding: 10px;
}

.footer__consultas h3{
  padding: 10px;
  color: #fff
  
}

.footer__consultas h4{
  padding: 10px;
  color: #9C9494;
}
.footer__consultas p{
  padding: 10px;
  color: #fff;
}



.footer__btn p{
  font-size: 1rem;
  color: #ba1010;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius:5px;
}


.footer__redes {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  display: flex;
  justify-content: center;
 
}
.footer__redes img {
  width: 20px;
  display: grid;
  grid-template-columns: repeat (4, 1fr);
  margin: 10px;
}

/* media queries */

@media (min-width: 780px){
 .header{
  grid-template-columns: repeat(3,1fr);
 } 

 .header__navBar ul{
  align-items: center;
  
 }
 .header__iRedes{
  align-items: center;
 }

 .header__navBar ul li {
  border-right: 1px solid #fff;
 }
 
 .header__iRedes img{
  width: 25px;
  height: 25px;
 }

 .seccion__slogan{
 grid-template-columns:repeat(2, 1fr);
 padding: 25px;
}
.seccion__slogan h1{
display: grid;
grid-template-columns: 1fr;
}
.seccion__slogan p{
  padding: 20px;
}

.contenido{
  grid-template-columns: repeat(2, 1fr); 
}
.contenido__etiquetas1{
  padding: 20px;
}
.contenido__etiquetas1 p{
  padding: 20px;  
}

.box{
  grid-template-columns: repeat(3,1fr);
  
}

.footer{
  grid-template-columns: repeat(2,1fr);
  text-align: left;
}

.footer__btn p{
  width: 200px;
  margin-top: 15px;
}
.footer__redes{
  align-items: center;
}

.footer__redes img{
  width: 30px;
  height: 30px;
}

.nosotros__contenido{
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;  
  align-items: center;
}
.nosotros__contenido--texto{
  width:100%;
  height:120px;
  align-items: center;
 
}

}





